/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a; /* Темный фон для контраста */
    color: #000000; /* Белый текст */
}

h1 {
    text-align: center;
    color: #00ff00; /* Ярко неоновый зеленый цвет для заголовка */
}

.question {
    margin-bottom: 10px;
    border: 2px solid #00ff00; /* Неоновая рамка вокруг вопросов */
    padding: 15px;
    border-radius: 8px;
}

.bg-green-200 {
    background-color: rgba(0, 255, 0, 0.6); /* Неоново-зеленый цвет для правильного ответа */
}

.bg-red-200 {
    background-color: rgba(255, 0, 0, 0.6); /* Красный цвет для неправильного ответа */
}

.result {
    font-size: 1.2em; /* Увеличенный размер шрифта для результата */
    color: #ffffff; /* Белый цвет текста результата для контраста */
}
